<% @budgets.each do |budget| %>
  <table class="table">
    <thead>
      <tr>
        <th>Event name </th>
        <th>Money</th>
      </tr>
    <thead>
      <tbody>
        <tr>
          <td><%= budget.event.name %></td>
          <td><%= Budget.how_much_money_left_min(budget) %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
