<h2> All budgets </h2>

<table class= "table">
  <thead>
    <tr>
      <th>Budget name</th>
      <th>Min budget </th>
      <th>Max budget </th>
    </tr>
  </thead>
  <tbody>
    <% @budgets.each do |budget| %>
    <tr>
      <td> <%= budget.event.name %> </td>
      <td> <%= budget.min %> </td>
      <td><%= budget.max %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
