<h2>List of all guests </h2>
<table class="table">
  <thead>
    <tr>
      <th> Name </th>
      <th> Surname </th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <% @guests.each do |guest| %>
      <tr>
        <td><%= guest.name %> </td>
        <td><%= guest.surname %> </td>
        <td><%= link_to 'Edit', edit_guest_list_path(guest)%></td>
      </tr>
    <% end %>
    <tr>
      <td>Guest sum </td>
      <td><%= @guests.count %> </td>
    </tr>
  </tbody>
</table>
