<% @guests = Guest.all %>
<h2> Guest list with companion </h2>
  <table class="table">
    <thead>
      <tr>
        <th scope = "col"> Name </th>
        <th scope = "col"> Surname </th>
        <th scope = "col"> Amount of companions </th>
      </tr>
    </thead>
    <tbody>
      <% @guests.each do |guest| %>
          <tr>
            <td> <%= guest.name %></td>
            <td> <%= guest.surname %></td>
            <td> <%= guest.companion.number %> </td>
          <tr>
      <% end %>
          <tr>
            <td>Summary</td>
            <td> </td>
            <td><%= Companion.sum(:number) %> </td>
          </tr>
    </tbody>
  </table>
