<% @newlyweds.each do |newlywed| %>
  <%= newlywed.name %> </br>
  <% @guest_lists = newlywed.guest_lists %>
  <table class="table">
    <thead>
    <tr>
      <th scope = "col"> Imię </th>
      <th scope = "col"> Nazwisko </th>
    </tr>
  </thead>
  <tbody>
  <%  @guest_lists.each do |glist| %>
    <% guest = Guest.find_by(id: glist.guest_id) %>
    <tr>
      <td><%= guest.name %></td>
      <td><%= guest.surname %></td>
    </tr>
  <% end %>
  <tr>
    <td></td>
    <td> <%=  @guest_lists.count %></td>
  </tr>
  </br>
</table>
<% end %>
