<% @newlyweds.each do |newlywed| %>
  <%= newlywed.name %> </br>
  <% yes_status_id = GuestListStatus.find_by(status: "yes") %>
  <% @newlywed_guest_lists = newlywed.newlywed_guest_lists.where(guest_list_status_id: yes_status_id) %>
  <table class="table">
    <thead>
    <tr>
      <th scope = "col"> Imię </th>
      <th scope = "col"> Nazwisko </th>
    </tr>
  </thead>
  <tbody>
  <%  @newlywed_guest_lists.each do |glist| %>
    <% guest = Guest.find_by(id: glist.guest_id) %>
    <tr>
      <td><%= guest.name %></td>
      <td><%= guest.surname %></td>
    </tr>
  <% end %>
  <tr>
    <td></td>
    <td> <%=  @guest_lists.count %></td>
  </tr>
  </br>
</table>
<% end %>
